footer {
    width: 100%;
    height: 50px;

    @media (min-width: $breakpoint-tablet) {
        height: 70px;
    }
    
    #redes {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin: 16px;
        }
    }
}