nav {
    width: 100%;
    max-width: $max-width;
    padding: 30px;

    @media (min-width: $breakpoint-desktop) {
        padding: 50px;
    }

    #main-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .menu-item {
            font-weight: 500;

            @media (min-width: $breakpoint-tablet ) {
                font-size: 18px;
            }
        }
    }
}