/**
 * Styles for pages except Home.
 */

body {
    &.bio,
    &.musica,
    &.contacto {
        header{
            max-width: $max-width;

            img {
                width: 900px;
            }
        }
    }

    &.bio {
        main {
            padding: 10px;

            a {
                font-weight: 600;
            }

            section#entrevistas {
                padding: 10px;
                margin: 20px 0;

                iframe {
                    width: 100%;
                    margin-top: 10px;

                    &.podcast {
                        height: 180px;
                    }

                    &.radiocut {
                        height: 65px;
                    }

                }
            }
        }

    }

    &.musica {
        main {
            max-width: $max-width;
            position: relative;
        }
        section {

            figure {
                width: $max-width;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

            &#info-musica {
                position: absolute;
                width: 100%;
                background: rgba(235, 235, 211, 0.8);
                bottom: 20%;
                padding: 10px;

                @media (min-width: $breakpoint-tablet) {
                    padding: 20px;
                }

                a {
                    font-weight: 600;
                }
            }

        }
    }

    &.contacto {
        main {
            position: relative;

            section#contacto {
                position: absolute;
                width: 100%;
                background: rgba(235, 235, 211, 0.8);
                top: 20%;
                padding: 10px;

                @media (min-width: $breakpoint-tablet) {
                    padding: 20px;
                }

                p.mail {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i.fa-envelope {
                        margin-right: 5px;
                    }
                }

                ul#redes {
                    justify-content: space-evenly;

                    @media (min-width: $breakpoint-desktop) {
                        margin-top: 16px;
                    }

                    li {
                        font-size: 16px;

                        @media (min-width: $breakpoint-desktop) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}